@charset "utf-8";
/* CSS Document */
body {
	font-size: 62.5%;
	direction: rtl
}
.ui-li-thumb {
	margin-left: 5px;
	height: 100%;
}
.title {
	color: #023d07;
	border-bottom: 1px solid #CCC;
	font-size: 3em;
	clear:both;
}
.k_image img {
	float: right;
	padding: 14px;
	border-radius: 5px;
	width: 40.33%;
	height: 50%;
}
.k_details {
	font-family: tahoma;
	font-size:2em;
	text-align: right;
}
.jhomara {
	text-align: left;
	float: left;
	font-size: 1em;
	background: #b85c5c;
	color: #fff;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	clear:both;
}
.splash{
	background:#14992a;
	height:100%;
	width:100%;}
.splash img{
	margin: 0 auto;
	}